.card-note{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: thistle;
    border-radius: 0.3em;
    flex-wrap: wrap;
    box-shadow: 0 0 4px purple;
    padding: 0.5em;
    margin: 1em;
    

}

.card-header{
    display: flex;
    align-items: center;
}

.card-text{
    margin-top: 0.4em;
    font-size: 0.8em;
    word-break: break-all; 
}
.card-title{
    font-size: 1em;
    margin-right: 0.8em;
    font-weight: bold;
    font-size: 1em;
}
.delete-svg{
   width: 0.8em; 
   margin-bottom: 1em;
   padding-top: 1em;
   margin-right: 0.3em;
   
}

.card-cat{
    font-size: 0.6em;
    
}