.card-list{
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    margin: 0;
    list-style-type: none;
    height: 100vh;
    
}
.card-item{
    width: auto;
    height: auto;
   
}

.category{
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    
}